<form autocomplete="off" (ngSubmit)="sendForm(forma)" #forma=ngForm>
    Amount: <input name="amountUsd" type="number" required [ngModel]="formObject.amountUsd" #amountUsd="ngModel">
    <p></p>
    To:<select name="currencyToCalculate" required [ngModel]="formObject.currencyToCalculate" #currencyToCalculate="ngModel">
        <option *ngFor="let currency of availableCountries"  [value]="currency">{{ currency }}</option>
    </select>
    <p></p>
    <button type="submit">Calcular! </button>
</form>
{{ message }}